<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="./output.css">
    <link rel="shortcut icon" href="./logo.jpg" type="image/x-icon">
</head>
<body>

    <%- include ('navbar') %>

    <main class="p-5 m-5 bg-blue-600 rounded-md">
        <div class="tapash text-2xl sm:text-3xl py-3 text-white">
            I am Tapash Debnath.
        </div>
        <div class="about py-3 text-gray-300 sm:text-2xl">
            I am a private English tutor, I have taken this platform to spread the light of education among the students (mainly WBBSE & WBCHSE). There are only few websites which provide online education for Bengali medium students.
        </div>
        <div class="education py-3 text-violet-400 sm:text-2xl">
            English (Hons) from NORTH BENGAL UNIVERSITY in 2017
        </div>
        <div class="addr py-3 text-yellow-300 sm:text-2xl">
            Near Rabindranagar Girls' School (HS) , beside CCN Office. <br> P.O. Rabindranagar, Siliguri. <br> Dist. Darjeeling (WB)
        </div>
    </main>

    <div class="footer fixed bottom-0 w-full">
        <%- include ('footer') %>
    </div>
    
</body>
</html>