<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Father's Help</title>
    <link rel="stylesheet" href="/output.css">
    <link rel="shortcut icon" href="/logo.jpg" type="image/x-icon">
    <style>
        .eng{
            color: darkblue;
            margin: 5px;
        }
        .beng{
            color: darkviolet;
            margin: 5px;
        }
        .cont{
            margin: 5px;
        }
    </style>
</head>
<body>
    <%- include ('navbar') %> 

    <header class="flex justify-center items-center text-xl sm:text-3xl m-2 p-2 rounded-lg bg-red-900 text-white font-bold">
        Father's Help - R.K Narayan
    </header>

    <main class="m-2 p-2 bg-pink-200 rounded-md">
        <p class="head p-2">
            <b>The author and the text:&nbsp;</b>
        </p>
        <div class="cont">
            <p class="eng">RK Narayan (1906-2001) is one of the leading figures of early Indian literature in English. His notable works include Malgudi Days and The Guide. He was awarded the Sahitya Academy award in 1958 for The Guide.&nbsp;</p>
            <p class="beng">আর. কে. নারায়ণ (১৯০৬-২০০১) হলেন প্রথম দিকে ইংরেজিতে যেসব ভারতীয় সাহিত্য রচনা করতেন তাদের মধ্যে অগ্রগণ্য। তাঁর উল্লেখযােগ্য সৃষ্টির মধ্যে রয়েছে মালগুডি ডেজ’ এবং “দ্য গাইড। ১৯৫৮ সালে ‘দ্য গাইড’ উপন্যাসের জন্য তাকে সাহিত্য অ্যাকাডেমি পুরস্কার দেওয়া হয়।</p>
        </div>
        <div class="cont">
            <p class="eng">The story, an edited excerpt from Malgudi Days, is about a young boy called Swaminathan who is unwilling to go to school, but is forced by his father to attend school. The story explores how, through the events that follow, Swami’s original reservations about his teacher, Samuel, get transformed considerably.</p>
            <p class="beng">এই গল্পটি ‘মালগুড়ি ডেজ’ নামক রচনার সম্পাদিত অংশবিশেষ। এটি স্বামিনাথন নামক একটি ছেলের সম্পর্কে যার বাবা তাকে স্কুলে যেতে বাধ্য করেন। গল্পটি তুলে ধরে, কীভাবে, কিছু ঘটনাপরম্পরার মধ্য দিয়ে, স্বামীর তার শিক্ষক স্যামুয়েল সম্পর্কে মতামতের যথেষ্ট পরিবর্তন ঘটে।</p>
        </div>
    </main>    

    <main class="m-2 p-2 bg-green-200 rounded-md">
        <p class="head p-2 flex justify-center items-center">
            <b class="text-2xl underline">Unit-1</b>
        </p>
        <div class="cont">
            <p class="eng">Lying in bed, Swami realized with a shudder that it was Monday morning. It looked as though only a moment ago it was Friday. Already Monday was here. He hoped he didn’t have to go to school.&nbsp;</p>
            <p class="beng">বিছানায় শুয়ে, ভয়ের কাপুনির সঙ্গে স্বামী বুঝতে পারল যে এটা সােমবার সকাল। তার মনে হল যেন এই এক মুহূর্ত আগে দিনটা ছিল শুক্রবার। ইতিমধ্যে সােমবার হাজির। সে আশা করেছিল যে তাকে স্কুলে যেতে হবে না।</p>
        </div>
        <div class="cont">
            <p class="eng">At nine o’clock, Swaminathan wailed, “I have a headache.”&nbsp;</p>
            <p class="beng">সকাল নটার সময় স্বামীনাথন ডুকরে কেঁদে বলল, ‘আমার মাথায় যন্ত্রণা হচ্ছে।</p>
        </div>
        <div class="cont">
            <p class="eng">Mother generously suggested that Swami might stay at home. At 9.30, when he ought to have been in the school prayer hall, Swami was lying on the bench in Mother’s room.&nbsp;</p>
            <p class="beng">মা সদয়ভাবে বললেন যে স্বামী বাড়িতে থেকে যেতে পারে। সাড়ে নটার সময় যখন তার স্কুলের প্রার্থনা হলে থাকা উচিত ছিল, স্বামী তখন মায়ের ঘরের বেঞ্চের ওপর শুয়েছিল |&nbsp;</p>
        </div>
        <div class="cont">
            <p class="eng">Father asked him, “Have you no school today?”&nbsp;</p>
            <p class="beng">বাবা তাকে জিজ্ঞেস করলেন, “আজকে তাের স্কুল নেই?”&nbsp;</p>
        </div>
        <div class="cont">
            <p class="eng">“Headache,” Swami replied.&nbsp;</p>
            <p class="beng">“মাথার যন্ত্রণা,“ স্বামী উত্তর দিল।&nbsp;</p>
        </div>
        <div class="cont">
            <p class="eng">“Nonsense! Dress up and go.”&nbsp;</p>
            <p class="beng">“বাজে কথা! জামাপ্যান্ট পর, স্কুলে যা।”&nbsp;</p>
        </div>
        <div class="cont">
            <p class="eng">“Headache!”&nbsp;</p>
            <p class="beng">“মাথার যন্ত্রণা!“</p>
        </div>
        <div class="cont">
            <p class="eng">“Loaf about less on Sundays and you will be without a headache on Monday.”&nbsp;</p>
            <p class="beng">“রবিবারে একটু কম ঘােরাঘুরি কর, তাহলে আর সোমবারে কোনাে মাথার যন্ত্রণা করবে না।”&nbsp;</p>
        </div>
        <div class="cont">
            <p class="eng">Swami knew how strict his father could be. So he changed his tactics. “I can’t go so late to the class.”</p>
            <p class="beng">স্বামী জানত তার বাবা কতটা কঠোর হতে পারে। তাই সে তার কায়দা বদলে ফেলল। “আমি এত দেরিতে ক্লাসে যেতে পারব না।”</p>
        </div>
        <div class="cont">
            <p class="eng">“You’ll have to. It is your own fault.”&nbsp;</p>
            <p class="beng">“তােকে যেতেই হবে। এটা তাের নিজের দোষ।”&nbsp;</p>
        </div>
        <div class="cont">
            <p class="eng">“What will the teacher think if I go so late?”&nbsp;</p>
            <p class="beng">“আমি যদি এত দেরিতে যাই, মাস্টারমশাই কী ভাববেন?</p>
        </div>
        <div class="cont">
            <p class="eng">“Tell him you had a headache and so are late.”&nbsp;</p>
            <p class="beng">তাকে বলবি তাের মাথার যন্ত্রণা হচ্ছিল এবং সেইজন্যই লে হয়ে গেছে |”</p>
        </div>
        <div class="cont">
            <p class="eng">“He will scold me if I say so.”&nbsp;</p>
            <p class="beng">“আমি তাকে একথা বললে তিনি আমাকে বকবেন।”&nbsp;</p>
        </div>
        <div class="cont">
            <p class="eng">“Will he? Let us see. What is his name?”&nbsp;</p>
            <p class="beng">“তাই নাকি। দাড়া দেখছি কী নাম তার?”&nbsp;</p>
        </div>
        <div class="cont">
            <p class="eng">“Samuel.”&nbsp;</p>
            <p class="beng">“স্যামুয়েল।”&nbsp;</p>
        </div>
        <div class="cont">
            <p class="eng">“Does he always scold the students?”&nbsp;</p>
            <p class="beng">“তিনি কি সবসময়ে ছাত্রছাত্রীদের বকাঝকা করেন?</p>
        </div>
        <div class="cont">
            <p class="eng">“He is a very angry man. He is especially angry with boys who come in late. ! wouldn’t like to go late to Samuel’s class.”&nbsp;</p>
            <p class="beng">“উনি খুব রাগি লােক। তিনি বিশেষ করে সেই সমস্ত ছেলেদের রেগে যান যারা দেরি করে স্কুলে আসে। আমার স্যামুয়েলবাবুর ক্লাসে দেরি করে যাওয়ার একেবারে ইচ্ছা নেই।”&nbsp;</p>
        </div>
        <div class="cont">
            <p class="eng">“If he is so angry, why not tell your headmaster about it?”&nbsp;</p>
            <p class="beng">“তিনি যদি অতই রাগি, এ ব্যাপারে তােরা হেডমাস্টারমশাইকে বলিস কেন?”</p>
        </div>
        <div class="cont">
            <p class="eng">“They say that even the headmaster is afraid of him.”</p>
            <p class="beng">“ওরা বলে হেডমাস্টারমশাইও নাকি তাকে ভয় পান।</p>
        </div>
    </main>

    <main class="m-2 p-2 bg-green-200 rounded-md">
        <p class="head p-2 flex justify-center items-center">
            <b class="text-2xl underline">Unit-2</b>
        </p>

        <div class="cont">
            <p class="eng">Swami hoped that with this his father would be made to see why he must avoid school for the day. But Father’s behaviour took an unexpected turn. He proposed to send a letter with Swami to the headmaster. No amount of protest from Swami would make him change his mind.&nbsp;</p>
            <p class="beng">স্বামী আশা করেছিল যে এইভাবে তার বাবাকে দেখানাে যাবে কেন তার আজকে স্কুলে যাওয়া উচিত নয়। কিন্তু বাবার আচরণ এক অপ্রত্যাশিত বাঁক নিল। তিনি প্রস্তাব দিলেন স্বামীকে দিয়ে হেডমাস্টারকে একটি চিঠি পাঠাবেন। স্বামীর কোনাে ধরনের প্রতিবাদে বাবার মন পরিবর্তন করা গেল না।</p>
        </div>
        <div class="cont">
            <p class="eng">By the time Swami was ready to leave for school, Father had composed a long letter to the headmaster. He put it in an envelope and sealed it.</p>
            <p class="beng">যে সময়ে স্বামী স্কুলে যাওয়ার জন্য প্রস্তুত হল, বাবা হেডমাস্টারকে একটি বড়াে চিঠি লিখে ফেলেছেন। তিনি চিঠিটি একটি খামে ভরলেন এবং সেটির মুখবন্ধ করে দিলেন।</p>
        </div>
        <div class="cont">
            <p class="eng">“What have you written, Father?” Swami asked apprehensively.&nbsp;</p>
            <p class="beng">“বাবা, তুমি কী লিখেছ?’ স্বামী দুশ্চিন্তাষ্টিভাবে জিজ্ঞেস কল।&nbsp;</p>
        </div>
        <div class="cont">
            <p class="eng">‘Nothing for you. Give it to your headmaster and go to your class.”&nbsp;</p>
            <p class="beng">“তাের জন্য তাে কিছু নয়। এটা হেডমাস্টারকে দিবি আর ক্লাসে চলে যাবি।&nbsp;</p>
        </div>
        <div class="cont">
            <p class="eng">“Have you written anything about our teacher Samuel?”&nbsp;</p>
            <p class="beng">“আমাদের শিক্ষক স্যামুয়েলের সম্পর্কে কিছু লিখেছ?”&nbsp;</p>
        </div>
        <div class="cont">
            <p class="eng">“Yes. Plenty of things.”&nbsp;</p>
            <p class="beng">“হ্যা, অনেক কিছু লিখেছি |”&nbsp;</p>
        </div>
        <div class="cont">
            <p class="eng">“What has he done, Father?”&nbsp;</p>
            <p class="beng">“বাবা, উনি কী করেছেন?”&nbsp;</p>
        </div>
        <div class="cont">
            <p class="eng">“Everything is there in the letter. Give it to your headmaster.”&nbsp;</p>
            <p class="beng">“চিঠিতে সব আছে। তোদের হেডমাস্টারকে এটা দিয়ে দিবি।</p>
        </div>
        <div class="cont">
            <p class="eng">Swami went to school feeling that he was the worst boy on earth. His conscience bothered him. He wasn’t at all sure if his description of Samuel had been accurate. He felt he had mixed up the real and the imagined.&nbsp;</p>
            <p class="beng">স্বামী স্কুলে গেল এইরকম ভাবতে ভাবতে যে সে হল পৃথিবীর নিকৃষ্টতম ছেলে। তার বিবেক তাকে দুশ্চিন্তায় ফেলল। সে আদৌ নিশ্চিত ছিল না স্যামুয়েল সম্পর্কে তার দেওয়া বর্ণনা সঠিক ছিল কি না। তার মনে হল সে যেন বাস্তবের সঙ্গে কল্পনা মিশিয়ে ফেলেছে।&nbsp;</p>
        </div>
        <div class="cont">
            <p class="eng">Swami stopped on the roadside to make up his mind about Samuel. Samuel was not such a bad man after all. Personally he was much more friendly than the other teachers. Swami also felt Samuel had a special regard for him.&nbsp;</p>
            <p class="beng">স্বামী রাস্তার ধারে দাঁড়াল স্যামুয়েলের ব্যাপারে মনস্থির করার জন্য। সবচেয়ে বড়াে কথা, স্যামুয়েল তাে অতটা বাজে লোক নন। ব্যক্তিগতভাবে অন্য শিক্ষকদের তুলনায় তিনি অনেক বেশি বন্ধুমনােভাবাপন্ন। স্বামীর আরও মনে হয় স্যামুয়েলের তার প্রতি এক বিশেষ পছন্দ রয়েছে।&nbsp;</p>
        </div>
        <div class="cont">
            <p class="eng">Swami’s head was dizzy with confusion. He could not decide if Samuel really deserved the allegations made against him in the letter. The more he thought of Samuel, the more Swami grieved for him. To recall Samuel’s dark face, his thin moustache, unshaven cheek and yellow coat filled Swaminathan with sorrow.</p>
            <p class="beng">তালগােল পাকানাে চিন্তাভাবনায় স্বামীর মাথা ভো ভো করতে লাগল। সে কিছুতেই মনস্থির করতে পারল না চিঠিতে লেখা তার সম্পর্কে সমস্ত অভিযােগগুলাের অধিকারী সত্যিই স্যামুয়েল ছিলেন কি না। স্যামুয়েলের কথা সে যত ভাবতে লাগল, স্বামী ততই তার জন্য যন্ত্রপাক্লিষ্ট হতে লাগল। স্যামুয়েলের কালাে মুখ, তার পাতলা গোফ, দাড়ি না কামানাে গাল ও হলুদ কোটের কথা মনে করে স্বামীনাথনের মন দুঃখে ভরে গেল।</p>
        </div>
    </main>

    <main class="m-2 p-2 bg-green-200 rounded-md">
        <p class="head p-2 flex justify-center items-center">
            <b class="text-2xl underline">Unit-3</b>
        </p>

        <div class="cont">
            <p class="eng">As he entered the school gate, an idea occurred to him. He would deliver the letter to the headmaster at the end of the day. There was a chance Samuel might do something during the course of the day to justify the letter.&nbsp;</p>
            <p class="beng">যখন সে স্কুলের গেটে ঢুকল, তার মাথায় একটি ভাবনা এল। সে হেডমাস্টারমশাইকে চিঠিটা দেবে দিনের শেষে। স্যামুয়েল সারাদিনে এমন কিছু করতে পারে যাতে চিঠিটির যথার্থতা প্রমাণ হয়।&nbsp;</p>
        </div>
        <div class="cont">
            <p class="eng">Swami stood at the entrance to his class. Samuel was teaching arithmetic. He looked at Swami. Swami hoped Samuel would scold him severely.&nbsp;</p>
            <p class="beng">স্বামী ক্লাসের ঢোকার দরজায় দাড়াল। স্যামুয়েল অঙ্ক করাচ্ছিলেন। তিনি স্বামীর দিকে তাকালেন। স্বামী ভাবল এবার স্যামুয়েল তাকে দারুণ বকাবকি করবেন।</p>
        </div>
        <div class="cont">
            <p class="eng">“You are half an hour late,” Samuel said.</p>
            <p class="beng">“তুমি আধঘণ্টা দেরি করেছ,” স্যামুয়েল বললেন।&nbsp;</p>
        </div>
        <div class="cont">
            <p class="eng">“I have a headache, sir.” Swami said.&nbsp;</p>
            <p class="beng">“আমার মাথার যন্ত্রণা হচ্ছে, স্যার,” স্বামী বলল।&nbsp;</p>
        </div>
        <div class="cont">
            <p class="eng">“Then why did you come at all?”&nbsp;</p>
            <p class="beng">“তাহলে তুমি এলে কেন?”&nbsp;</p>
        </div>
        <div class="cont">
            <p class="eng">This was an unexpected question from Samuel.&nbsp;</p>
            <p class="beng">এটি স্যামুয়েলের কাছ থেকে সম্পূর্ণ অপ্রত্যাশিত প্রশ্ন ছিল।&nbsp;</p>
        </div>
        <div class="cont">
            <p class="eng">Swami said, “My father said I shouldn’t miss school, sir.”&nbsp;</p>
            <p class="beng">স্বামী বলল, “আমার বাবা বললেন আমার স্কুল কামাই করা উচিত নয়, স্যার।”</p>
        </div>
        <div class="cont">
            <p class="eng">Samuel looked impressed.&nbsp;</p>
            <p class="beng">স্যামুয়েলকে দেখে মনে হল তিনি বেশ প্রভাবিত হয়েছেন।</p>
        </div>
        <div class="cont">
            <p class="eng">“Your father is quite right. We want more parents like him.”&nbsp;</p>
            <p class="beng">“তোমার বাবা একদম ঠিক বলেছেন। এরকম বাবা-মা আমরা আরও বেশি করে চাই।”</p>
        </div>
        <div class="cont">
            <p class="eng">“Oh, you poor man!” Swami thought, “you don’t know what my father has done to you.”&nbsp;</p>
            <p class="beng">“হায় রে হতভাগ্য!” স্বামী ভাবল, “আপনি জানেনই না আমার বাবা আপনার কী করেছেন।’</p>
        </div>
        <div class="cont">
            <p class="eng">“All right, go to your seat.”&nbsp;</p>
            <p class="beng">“ঠিক আছে, জায়গায় গিয়ে বােসাে।”</p>
        </div>
        <div class="cont">
            <p class="eng">Swami sat down, feeling sad. He had never met anyone as good as Samuel.&nbsp;</p>
            <p class="beng">স্বামী বসল, তার দুঃখ হচ্ছিল। সে স্যামুয়েলের মতাে এত ভালাে মানুষ কখনও দেখেনি।&nbsp;</p>
        </div>
        <div class="cont">
            <p class="eng">The teacher was inspecting the home lessons. To Swami’s thinking, this was the time when Samuel got most angry. But today Samuel appeared very gentle.&nbsp;</p>
            <p class="beng">শিক্ষক বাড়ির কাজ দেখছিলেন স্বামীর ভাবনা-চিন্তা অনুসারে, এই সময়েই স্যামুয়েল সবচেয়ে বেশি রেগে যান। কিন্তু আজকে স্যামুয়েলকে বড়াে নম্র মনে হচ্ছিল।</p>
        </div>
        <div class="cont">
            <p class="eng">“Swaminathan, where is your homework?”&nbsp;</p>
            <p class="beng">“স্বামীনাথন, তােমার বাড়ির কাজ কোথায়?</p>
        </div>
        <div class="cont">
            <p class="eng">“I have not done my homework, sir,” Swami said.&nbsp;</p>
            <p class="beng">‘আমি আমার বাড়ির কাজ করিনি, স্যার, স্বামী বলল।&nbsp;</p>
        </div>
        <div class="cont">
            <p class="eng">“Why-headache?” asked Samuel.&nbsp;</p>
            <p class="beng">“কেন—মাথার যন্ত্রণা?” স্যামুয়েল জিজ্ঞেস করলেন।&nbsp;</p>
        </div>
        <div class="cont">
            <p class="eng">“Yes, sir.”&nbsp;</p>
            <p class="beng">“হ্যাঁ স্যার।”&nbsp;</p>
        </div>
        <div class="cont">
            <p class="eng">“All right, sit down,” Samuel said.&nbsp;</p>
            <p class="beng">“ঠিক আছে, বােসাে,” স্যামুয়েল বললেন।&nbsp;</p>
        </div>
        <div class="cont">
            <p class="eng">When the bell rang for the last period at 4.30, Swami picked up his books and ran to the headmaster’s room. He found the room locked. The peon told him the headmaster had gone on a week’s leave. Swaminathan ran away from the place.&nbsp;</p>
            <p class="beng">যখন ৪টে ৩০ মিনিটে শেষ পিরিওডের ঘণ্টা বাজল, স্বামী তার বইপত্র গুছিয়ে নিল এবং দৌড়ে হেডমাস্টারের ঘরে গেল। সে দেখল দরজা বন্ধ। পিওন তাকে বলল যে হেডমাস্টার এক সপ্তাহের ছুটিতে গেছেন। স্বামীনাথন সেখান থেকে দৌড়ে চলে গেল।</p>
        </div>
        <div class="cont">
            <p class="eng">As soon as he entered home with the letter, Father said, “I knew you wouldn’t deliver it.”&nbsp;</p>
            <p class="beng">যেই মাত্র চিঠিটি নিয়ে সে বাড়িতে ঢুকল, বাবা বললেন “আমি জানতাম, তুই চিঠিটা দিবি না।”</p>
        </div>
        <div class="cont">
            <p class="eng">“But the headmaster is on leave,” Swami said.&nbsp;</p>
            <p class="beng">“কিন্তু হেডমাস্টার তাে ছুটিতে আছেন, স্বামী বলল।&nbsp;</p>
        </div>
        <div class="cont">
            <p class="eng">Father snatched the letter away from Swami and tore it up.&nbsp;</p>
            <p class="beng">বাবা স্বামীর হাত থেকে চিঠিটি ছিনিয়ে নিলেন এবং সেটিকে ছিঁড়ে ফেললেন।</p>
        </div>
        <div class="cont">
            <p class="eng">“Don’t ever come to me for help if Samuel scolds you again. You deserve your Samuel,” he said.</p>
            <p class="beng">“যদি স্যামুয়েল আর কখনও তােকে বকাবকি করেন, আমার কাছে আর সাহায্যের জন্য আসিস না। স্যামুয়েলই তাের যােগ্য পাওয়া |” তিনি বললেন।</p>
        </div>
    </main>

    <%- include ('feedback') %> 

    <%- include ('footer') %>
    <script>
        console.log('Learn & Enjoy');
    </script>
</body>
</html>