<div class="form bg-slate-400 m-2 p-2 rounded-md flex flex-col justify-center items-center">
    <h1 class="">Feedback Form</h1>
    <form action="/class-10/FathersHelp/submit" method="post" class="flex flex-col justify-center items-center">
        <label for="name" class="m-3">Name:
            <input type="text" id="name" name="name" required class="rounded-md">
        </label>
        
        <label for="feedback" class="m-3">Feedback:
            <input type="text" id="feedback" name="feedback" required class="rounded-md">
        </label>

        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition transform active:translate-y-1 duration-200">Submit</button>
    </form>
</div>