<nav class="bg-violet-950 text-white text-2xl p-3 flex md:flex-row flex-col justify-between gap-2">
    <div class="logo font-bold flex justify-center items-center">
        <img src="/book.svg" alt="bookSvg">DebnathEnglishTutorials
    </div>

    <ul class="flex text-xl gap-6 justify-center items-center">
        <li><a href="/" class="pointer-events-auto">Home</a></li>
        <li><a href="/contact" class="pointer-events-auto">Contact</a></li>
        <li><a href="/payment" class="pointer-events-auto">Payment</a></li>
        <li><a href="/about" class="pointer-events-auto">About</a></li>
    </ul>
</nav>