<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link rel="stylesheet" href="./output.css">
    <link rel="shortcut icon" href="/logo.jpg" type="image/x-icon">
</head>
<body>
    <%- include ('navbar') %> 

    <main class="flex justify-center items-center">
        <img src="./payment.jpg" alt="payment" class="">
    </main>

    <div class="footer fixed bottom-0 w-full">
        <%- include ('footer') %> 
    </div>
</body>
</html>